<link rel="stylesheet" href="InterstateLight.css">
<link rel="stylesheet" href="InterstateRegular.css">
<link rel="stylesheet" href="AkzidenzGroteskBEXBdIt.css">
<style type="text/css">
    p {
        font-family: AkzidenzGrotesk;
        font-size: 36px;
    }
    .interstatelight {
        font-family: Interstate-Light;
    }
    .interstatereg {
        font-family: Interstate-Regular;
    }
</style>

<p>HELLO JELLO</p>
<p class="interstatelight">Interstate Light</p>
<p class="interstatereg">Just number 28, actually. no! THE WHOLE font now?!%</p>